1 ) Consider i = 2, Write a program to convert i to float. 
---

    (Expected Output = 2.0 )

In [3]:
#please enter the code below this line
i = 2 
print (float(i))

2.0

2 )Consider x="Hello" and y="World" , then write a program to concatinate the strings to a single string and print the result.
            
            
            
            
          ( Expected output = Hello World )

In [2]:
#please enter the code below this line
x = "Hello "
y = "World"
z = x + y 
print (z)

Hello World

3 ) Consider pi = 3.14 . print the value of pie and its type.

In [1]:
#please enter the code below this line
pi = 3.14 
print (pi) 
print (type(pi))

3.14
<class 'float'>