1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [11]:
#please provide your answer below this line.
import numpy as np
import pandas as pd 
datetie = pd.date_range('2021-09-01',periods=6)
df = pd.DataFrame(np.random.randn(6,6),index=datetie,columns=list('ABCDEF'))
df1 = df.iloc[0:3]
print("First 3 rows") 
print(df1)

df2 = df.iloc[0::2]
print("Odd indexed rows") 
print(df2) 

df3 = df.iloc[1:4,0:0]
print("Dates from 1st position to 4th position") 
print(df3)

First 3 rows
                   A         B         C         D         E         F
2021-09-01 -0.794583  0.765977 -0.017398  1.039286 -0.542634  1.310814
2021-09-02  0.945457 -0.809785  0.120082 -0.534081  0.301123 -0.630032
2021-09-03 -0.060792 -0.829172  0.630334  0.696337 -0.226424 -1.588967
Odd indexed rows
                   A         B         C         D         E         F
2021-09-01 -0.794583  0.765977 -0.017398  1.039286 -0.542634  1.310814
2021-09-03 -0.060792 -0.829172  0.630334  0.696337 -0.226424 -1.588967
2021-09-05  0.379295 -0.440439  0.087311 -1.390146 -0.735817  0.279714
Dates from 1st position to 4th position
Empty DataFrame
Columns: []
Index: [2021-09-02 00:00:00, 2021-09-03 00:00:00, 2021-09-04 00:00:00]

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [12]:
#please provide your answer below thins line.
df1 = df.loc[['2021-09-03','2021-09-03','2021-09-04'],['A','B']]
print(df1) 

df2 = df.loc['2021-09-04']
print("Dates at the 3rd index") 
print(df2) 

df3 = df.loc[['2021-09-03','2021-09-04','2021-09-05','2021-09-06']]
print("Dates from index 2nd to 5th")
print(df3) 

df4 = df.loc[['2021-09-02','2021-09-03','2021-09-05'],['A','C']]
print("Dates from the Index 1,2,4 and the column 0 and 2")
print(df4)

                   A         B
2021-09-03 -0.060792 -0.829172
2021-09-03 -0.060792 -0.829172
2021-09-04  0.579217  0.880426
Dates at the 3rd index
A    0.579217
B    0.880426
C    0.754945
D   -0.046936
E    0.849522
F   -0.304466
Name: 2021-09-04 00:00:00, dtype: float64
Dates from index 2nd to 5th
                   A         B         C         D         E         F
2021-09-03 -0.060792 -0.829172  0.630334  0.696337 -0.226424 -1.588967
2021-09-04  0.579217  0.880426  0.754945 -0.046936  0.849522 -0.304466
2021-09-05  0.379295 -0.440439  0.087311 -1.390146 -0.735817  0.279714
2021-09-06  0.208608  0.240513  0.816263 -0.621146 -0.435278 -0.372848
Dates from the Index 1,2,4 and the column 0 and 2
                   A         C
2021-09-02  0.945457  0.120082
2021-09-03 -0.060792  0.630334
2021-09-05  0.379295  0.087311