1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
print(df)

df1 = df.groupby("A").sum()
print(df1)

df2 = df.sort_values("D")
df3 = df2.iloc[:3]
print(df3)

df4 = df.sort_values(by="D", ascending=False)
df5 = df4[df.A=="bar"].head()
print(df5)

     A      B         C         D
0  foo    one  0.914991 -1.625643
1  bar    one -0.785770 -0.327834
2  foo    two -2.344457 -0.130006
3  bar  three -0.325965  0.653235
4  foo    two  0.775372  1.638587
5  bar    two -2.096990 -0.464086
6  foo    one  1.395021  0.852654
7  foo  three  0.023552 -0.303667
            C         D
A
bar -3.208725 -0.138685
foo  0.764479  0.431925
     A    B         C         D
0  foo  one  0.914991 -1.625643
5  bar  two -2.096990 -0.464086
1  bar  one -0.785770 -0.327834
     A      B         C         D
3  bar  three -0.325965  0.653235
1  bar    one -0.785770 -0.327834
5  bar    two -2.096990 -0.464086

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
df1 = df.to_csv('csvFile.csv')
print(df1)

df2 = pd.read_csv('csvFile.csv')
print(df2)

df3 = df.to_excel('excelFile.xlsx')
print(df3)

df4 = pd.read_excel('excelFile.xlsx')
print(df4)
None

None
   Unnamed: 0    A      B         C         D
0           0  foo    one  0.162289  0.023170
1           1  bar    one -0.481944 -0.819735
2           2  foo    two  1.654771 -0.417876
3           3  bar  three -0.422175  0.109960
4           4  foo    two  0.153820 -0.006008
5           5  bar    two  1.586706  0.702397
6           6  foo    one -1.009406 -0.609138
7           7  foo  three  0.712472  0.004507
None
   Unnamed: 0    A      B         C         D
0           0  foo    one  0.162289  0.023170
1           1  bar    one -0.481944 -0.819735
2           2  foo    two  1.654771 -0.417876
3           3  bar  three -0.422175  0.109960
4           4  foo    two  0.153820 -0.006008
5           5  bar    two  1.586706  0.702397
6           6  foo    one -1.009406 -0.609138
7           7  foo  three  0.712472  0.004507